#fondo {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/bg.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.barril{
  position: absolute;
  top: 480px;
  left:  120px;
}

div.barril2{
  position: absolute;
  top: 500px;
  right: 180px;
  transform: rotate(135deg);
}

.dk{
  width: 200px;
  position:absolute;
  top:250px;
  left: 200px;
  animation-name: saltos;
  animation-duration: 5s;
}

.girobarril{
animation-name: rotarbarril;
animation-duration: 3s;
animation-iteration-count: 5;
}
@keyframes rotarbarril {
  from{
    transform: rotate(0deg);
  }
  to{
     transform: rotate(80deg);
  }
}
@keyframes saltos {
  0%{
    top: -200px;
  }
  30%{
    top: 40px;
  }
  50%{
    top: 40px;
    left: 800px;
  }
  100%{
    left: 200px;
    top:300px
  }
  
}