#fondo {
  width: 100vw;
  height: 100vh;
  background-image: url('../img/bg.jpg'); /* Ruta corregida */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.personaje {
  width: 100px;
  height: 100px;
  background-image: url('../img/dk.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.barril {
  width: 60px;
  height: 60px;
  background-image: url('../img/barril.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 50px;
}

.barril-izquierdo {
  left: 100px;
}

.barril-derecho {
  right: 100px;
}
#personaje {
  position: absolute; 
  top: 40px;          
  left: 120px;      
  width: 200px;      
 
}
